html{

background-image: url(images/preffered.jpeg);
    background-attachment: fixed;
    background-size: cover;
    
}
#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
   
    position: relative;
    font-size: 300%;

}


h1{
    font:black;
   
}

 body {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            margin: 0;
            padding: 10px;
            box-sizing: border-box;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            
         
 }

 header {
      
      
      color: #fff;
      padding: 1em;
      text-align: center;
     
      
 }

 

 #picture{
    flex: 1;
    margin-top: 1%;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: end;
    align-items: center;
    
 }

 #about{
   text-align:left;
   background: linear-gradient(45deg, #f06, yellow, #9f6);
   
   -webkit-background-clip: text;
   background-clip: text;
   text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
   color: #ffffff;
  
    width: 40%;
    padding-top: 80px;
    padding-right: 15%;
    padding-left: 20px;
    background: rgb(252, 249, 249,0) ;
  
    line-height: 160%;
    
     
 }
#intro-container{
    
    display: flex;
    width: 100%;
    padding: 40px;
    padding-bottom: 20%;
   




}



section {
     padding: 20px;
     text-align: center;
}
#project-outerContainer{
text-align: center;
width: 100%;
margin-left: 3%;

}
#Projects{
    background-color:rgba(239, 238, 238, 0.745);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    width: 90%;
    color: black;
    border: black double  22px;
    border-radius: 5%;
    font-size: 130%;

}

#project-x{
    
    align-items: center;
    display: flex;
    padding-left: 6% ;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    
    justify-content: space-around;
   
    padding-bottom: 50px;
    

    
}

.project-display:hover{
    
    transform: scale(1.2)  ;
    transition: transform 2s ease-in-out;

    
}
.project-display:not(:hover){

   animation:swingingAnimation 1.5s ease-in-out  forwards ;
}
@keyframes swingingAnimation {
    0%{
        transform: scale(1.2) ;
    }

    25%{
        transform:  scale(1) ;
    }
    50%{
        transform: scale(1.12) ;
    }
    75%{
        transform: scale(1);
    }
      100%{
        transform: scale(1) ; 

      }
      
    }
  







 h2 {
            color: #e8a0a0;
            
 }
 .left-line{
    border-left: rgb(0, 0, 0) solid 2px;
    padding-left: 20px;
    

 }
 .project-info {
            text-align: left;
            margin-bottom: 20px;
            padding-right: 12%;
            padding-left:7% ;
            
            width: 100%;
           

            
            
 }
 #technology{
    display: flex;
    justify-content: space-around 5px;
    font-weight: bold;
    

 }
 h4{
    
    
    padding: 5px;
    margin: 5px;
    
    
 }
 hr{
    border: 2px solid rgba(0, 1, 2, 0.9);
 }
#course-container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
    
   
    align-items: center;
    
    
   
    color: rgb(72, 203, 57);
    
}
#course-outer{
    padding: 60px;
    margin-top: 2%;
}
#course{
    
    background-color:rgba(239, 238, 238, 0.745);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    width: 90%;
    color: black;
    border:   black double 20px;
    border-radius: 10%;
    text-align: left;
    width: 20vw;
    height: 230px;
    margin-bottom: 10px;
    
   line-height: normal;
   padding: 10%;



}
#course:hover{
    transform: scale(1.2)   ;
    transition: transform 0.6s ease-in-out;
    text-shadow: #313131;
    




}
#course:not(:hover){
    animation: flip 0.5s ease-in-out;
}
@keyframes flip {
    0% {
      transform: perspective(800px) rotateY(180deg);
    }
    
    100% {
      transform: perspective(800px) rotateY(360deg);
    }
  }
  
  

 footer {
            background-color: #313131;
            color: #fff;
            text-align: center;
            padding: 1em;
            position: static;
            bottom: 0;
            width: 100%;
            height: 30px;
 }


 @media only screen and (max-width: 1280px) {
    #course-outer{
        flex-direction: column;
        

    }
    #course{
        width: 40vh;
        height: fit-content;
    }
    #about p {
        font-size: smaller; /* Adjust font size for small screens */
    }


    #picture,
    #about {
        width: 50%; /* Full width for small screens */
        padding: 20px;
        margin: 0; /* Remove margin for small screens */
        text-align: center; 
    }
    #picture img {
        width:55%;
    }

    #about {
        padding-top: 20px; /* Adjust padding for small screens */
        padding-bottom: 20px;

    }

    #intro-container {
        flex-direction: column; /* Stack items vertically for small screens */
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-top: 8%;
    }
    .project-display img{
     width: 80vw;
    }

    

    #project-x {
        flex-direction: column; /* Stack items vertically for small screens */
        align-items: center; /* Center items horizontally */
        
    }
    h2 span {
        font-size: smaller; /* Adjust font size for small screens */
    }

}



    