html{

background-image: url(images/bg_portfolio.avif);
    background-attachment: fixed;
    background-size: cover;
    
}
#landing{
    width: 100%;
}


h1{
    font:black;
   
}

 body {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
         
 }

 header {
      
      background-color: #333;
      color: #fff;
      padding: 1em;
      text-align: center;
     
      
 }

 

 #picture{
    flex: 1;
    padding-top: 5%;
    padding-left: 10%;
    margin-right: 5%;
    text-align: center;
    
 }

 #about{
   text-align: center;
   
    width: 40%;
    padding-top: 80px;
    padding-right: 15%;
    padding-left: 20px;
    background: rgb(252, 249, 249,0) ;
    font-size: 100%;
    font-weight: bold;
    
     
 }
#intro-container{
    display: flex;
   
   
    width: 100%;  
    padding: 20px;




}



section {
     padding: 20px;
}
#Projects{
    background-color:rgba(0, 0, 0, 0.8);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    width: 100%;
    

}

#project-x{
    
    align-items: center;
    display: flex;
    padding-left: 6% ;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    
    justify-content: space-around;
   
    padding-bottom: 50px;
    

    
}

.project-display:hover{
    
    transform: scale(1.2)  ;
    transition: transform 2s ease-in-out;

    
}
.project-display:not(:hover){

   animation:swingingAnimation 2.0s ease-in-out  forwards ;
}
@keyframes swingingAnimation {
    0%{
        transform: scale(1.2) ;
    }

    25%{
        transform:  scale(1) ;
    }
    50%{
        transform: scale(1.12) ;
    }
    75%{
        transform: scale(1);
    }
      100%{
        transform: scale(1) ; 

      }
      
    }
  







 h2 {
            color: #333;
 }
 .left-line{
    border-left: white solid 2px;
    padding-left: 20px;
    

 }
 .project-info {
            text-align: left;
            margin-bottom: 20px;
            padding-right: 12%;
            padding-left:7% ;
            color: rgb(255, 255, 255);
            width: 100%;
           

            
            
 }
 #technology{
    display: flex;
    justify-content: space-around 5px;
    font-weight: bold;
    

 }
 h4{
    
    
    padding: 5px;
    margin: 5px;
    
    
 }
 hr{
     border: 2px solid rgb(237, 239, 241,0.9);
 }

 footer {
            background-color: #313131;
            color: #fff;
            text-align: center;
            padding: 1em;
            position: static;
            bottom: 0;
            width: 100%;
            height: 30px;
 }
 @media only screen and (max-width: 1280px) {
    section{
        

    }
    #about p {
        font-size: smaller; /* Adjust font size for small screens */
    }


    #picture,
    #about {
        width: 100%; /* Full width for small screens */
        padding: 20px;
        margin: 0; /* Remove margin for small screens */
        text-align: center; 
    }

    #about {
        padding-top: 20px; /* Adjust padding for small screens */
        padding-bottom: 20px;

    }

    #intro-container {
        flex-direction: column; /* Stack items vertically for small screens */
        text-align: center;
        padding: 10px;
    }
    .project-display img{
     width: 100vw;
    }

    

    #project-x {
        flex-direction: column; /* Stack items vertically for small screens */
        align-items: center; /* Center items horizontally */
        
    }
    h2 span {
        font-size: smaller; /* Adjust font size for small screens */
    }

}



    